# Dependencies
/node_modules

# Next.js
/.next
/out

# Tests
/coverage
/playwright-report
/test-results

# Local environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# Prisma
prisma/*.db
prisma/*.db-journal

# Editors and operating systems
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo
next-env.d.ts
